A set of things that you are not allowed to do because they do not fit into the world you live in. In a world full of what you can and what you must, there are things you can not do. This is a way of saying you have to follow a set of lines.

Imagine you are a person who loves to play a game. You love to move your body. But, the game you are playing is not a game for a person with a broken arm. You are not allowed to play. This is a kind of line.

In a world that is full of many different ways to do something, there are many lines. Some lines are easy to see, but some are hard to see. Some are easy to break, but some are hard to keep. When there are many lines, you have to follow one of them.

People have many lines in their lives. Some lines are easy to follow. Other lines are hard to follow. One line might be a line of work, another line might be a line of money, another line might be a line of what you love to do. Everyone follows their own lines.

When you follow a line, you are following the world that is around you. When you do not follow a line, you are breaking the world. Breaking a line can make a world feel strange. It can make it feel like there is no way out.

In a world with many lines, there are also things you can not do. You can not do something if it is against the line. You can not do something if it is not allowed. You can not do something if it is against the line of what you love to do. You can not do something if it is against the line of what you believe.