A thing that is needed to do something is called a need. Everything you do has a need. If you want to eat, you need food. If you want to run, you need to be able to move. If you want to be happy, you need to feel good.

A need is a thing you must have. You can not live without it. If you do not have it, you will be very sad. You will want to cry and you will not be able to stop.

Sometimes, a need is a thing that is made for you. If you have a car, you need to drive it. If you have a bed, you need to sleep in it. A need is what is there to make a thing possible.

You can also talk about what is a need. If something is a need, it is something that you want to do. If you need to go to the store, you want to go there. If you need to be with your friends, you want to be with them.

A need can be big or small. You might need money to buy food, or you might need a friend. Both are needs. To be happy, you need a lot of things. To be safe, you need to have a home and a way to keep yourself.